* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #a9a9a92a;
  

}
nav.menu-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  /* height: 100vh; */

  background-color: #fff;
}
nav {
  /* padding: 10px 6%; */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
position: relative;
  background-color: #0c344c;
  position: sticky;
  top: 0;
  z-index: 40;
}
nav a {
  text-decoration: none;
  color: #000;
}
nav .logo img {
margin-right: 240px;
  height: 80px;
 
  
}
nav.menu-open ul {
  /* margin: auto 0;
  list-style: none;
  display: block; */
  margin-right: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 10px;
}
nav.menu-open .phone {
  display: block;
}
nav.menu-open ul li {
  padding: 10px 0px;
}
nav.menu-open ul a {
  font-size: 24px;
}
nav #menu-btn {
  position: absolute;
  top: 40px;
  transform: translateY(-50%);
  right: 6%;
  padding: 4px 15px;
  border-radius: 50px;
  border: none;
  color: #35B5FE;
  background-color: #000;
  cursor: pointer;
}
nav.menu-open #menu-btn {
  top: 18px;
  transform: none;
}

nav ul {
  display: none;
}
nav .phone {
  display: none;
}

/* Hero */
#hero {
  display: flex;
  flex-direction: column;
}
#hero figure img {
  width: 100%;
}
#hero .details {
  padding: 50px 6%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#hero .details button {
  border: none;
  cursor: pointer;
  background-color: #49cff2;
  color: #fff;
  align-self: flex-start;
  padding: 10px 20px;
  border-radius: 4px;
}
/* Advantages */
#advantage {
  padding: 20px 6%;
}
#advantage .list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
}
#advantage .list .item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
#advantage .list .item img {
  width: 80px;
  margin-bottom: 5px;
}
#advantage h1 {
  text-align: center;
}
/* ABOUT */
#about {
  display: flex;
  flex-direction: column;
}
#about figure img {
  width: 100%;
}
#about .details {
  padding: 30px 6%;
}
#about .detail h1 {
  margin-bottom: 10px;
}

#about .details p {
  margin-bottom: 5px;
}

#about .details a {
  text-decoration: none;
  color: #eb1c24;
  font-size: 18px;
  padding: 5px;
  font-weight: bold;
}

#about figure {

  background-size: cover;

}

/* Services */
#services {
  display: grid;
  grid-template-columns: repeat(2, minmax(160px, 1fr));
  grid-template-rows: repeat(6, 160px);
}
#services .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#services .item:nth-of-type(even) {
  background-color: #0c344c;
  

}
#services .item:first-child {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
 
}
#services .item:last-child {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
 
 
}
#services .item:last-child a {
  color: #eb1c24;
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}
#services .item:last-child a span {
  color: #fff;
  font-weight: bolder;
  
}
#services .item:nth-child(2) {
  background-color: #35B5FE;
  color: #000;
}
#services .item:nth-child(3) {
  background-color: #0c344c;
}
#services .item:nth-child(4) {
  background-color: #0c344c;
}
#services .item:nth-child(5) {
  background-color: #35B5FE;
}
#services .item:nth-child(7) {
  background-color: #35B5FE;
}
#services .item:nth-child(8) {
  background-color: #35B5FE;
}
#services .item:nth-child(9) {
  background-color: #0c344c;
  /* color:#000 */
}

/* video */
#footer {
  background-color: #0c344c;
  display: flex;
  flex-direction: column;
  line-height: 50px;
}
#footer .video {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  column-gap: 10px;
}
#footer h1 {
  padding: 20px;
  color: #fff;
  text-align: center;
}
#footer p {
  color: #fff;
  margin: auto;
}
#footer button {
  background-color: #35B5FE;
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 2px 3px 1px#000;
}
#footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
#slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #0c344c;
}

#slider #line {
  height: 5px;
  background: #35B5FE;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

#slider #dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
  display: flex;
  justify-content: center;
}

#slider #dots li {
  transition: 0.3s;
  list-style-type: none;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  margin: 0 0.25em;
  cursor: pointer;
}

#slider #dots li:hover,
#slider #dots li.active {
  background: #35B5FE;
}

@keyframes line {

  0% {width: 0%;}
  100% {width: 100%;}

}

#slider #back,
#slider #forword {
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: white;
  font-weight: 700;
    font-size: 2rem;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0.75) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#00ffffff',GradientType=1 );
}

#slider #forword {
  left: auto;
  right: 0;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bfffffff',GradientType=1 );
}

#slider:hover #back,
#slider:hover #forword {
  opacity: 0.7;
}

ul#move {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  background: gray;
  margin-right: 100%;
}


ul#move li {
  transition: 0.6s;
  min-width: 100%;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul#move li img {
  width: 100%;
  height: 100%;
}

ul#move li:nth-child(1) {
  /* background: #657765; */
}

ul#move li:nth-child(2) {
  /* background: #456174; */
}

ul#move li:nth-child(3) {
  /* background: #984; */
}

ul#move li:nth-child(4) {
  /* background: #445566; */
}

ul#move li:nth-child(5) {
  /* background: #744674; */
}

/* DESKTOP STYLE */

@media screen and (min-width: 800px) {
  html {
    scroll-behavior: smooth;
  }
  #hero {
    flex-direction: row;
    padding: 10px;
  }
  #hero > * {
    flex: 1;
  }
  #hero .details {
    padding-right: 10%;
    justify-content: center;
  }
  #hero .details h1 {
    font-size: 2.5rem;
  }
  /* Nav */
  nav {
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 40;
  }
  nav #menu-btn {
    display: none;
  }
  nav ul {
    display: block;
    margin-left: 20px;
    margin-right: auto;
  }
  nav li {
    display: inline-block;
    padding: 0 10px;
  }

  /* nav li a {
    color: #fff;
    border: 1px solid #35B5FE;
    padding: 5px;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(
      30deg,
      #35B5FE 50%,
      transparent 50%
    );
    background-image: linear-gradient(30deg, #35B5FE 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }

  nav li a:hover {
    background-position: 100%;
    color: #35B5FE;
  } */
   nav li a:active{
    transform: scale(1.1);
  } 
  nav .phone {
    display: flex;
    align-items: center;
  }

  /* ADVANTAGES */
  #advantage {
    /* padding: 40px 6% 40px 20%; */
    background-color: #fff;
  }
  #advantage h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  #advantage .list .item {
    /* align-items: flex-start; */
    text-align: center;
    padding-left: 0px;
  }
  /* ABOUT */
  #about {
    flex-direction: row;
  }
  #about > * {
    flex: 1;
  }
  #about figure {
    /* height: auto; */
  }

  /* SERVICES */

  #services {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 300px);
    background-color: #fff;
  }

  #services .item:last-child {
    grid-column: 3 / 5;
    background-color: #fff ;
  }

  #services .item {
    align-items: center;
    transform: translateX();
  }
  #services .item a {
    text-decoration: none;
    color: #fff;
  }

  .item p {
    text-align: center;
  }

 

  /* FOOTER */
  #footer .video {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
  }

  /* .slider {
    width: 100%;
    max-width: 900px;
    height: 350px;
    position: relative;
    overflow: hidden;
  }

  .slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn:active {
    transform: scale(1.1);
  }

  .btn-prev {
    top: 45%;
    left: 2%;
  }

  .btn-next {
    top: 45%;
    right: 2%;
  } */

  .link{
    color: #fff;
    font-size: 16px;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    position: relative;
    bottom:8px;
    
  }
      
  .link:after{
        bottom: -4px;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        background: #35B5FE;
        opacity: 0.6;
        transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
        width: 0;
}
      
      
.link:hover:after{
        width: 100%;
        opacity: 0.9;
        color:#35B5FE
      }
      
      .link a{
        color:rgba(255, 255, 255, 0.865)
      }
      .link a:hover{
        color: #35B5FE
      }



      
      #slider {
        position: relative;
        width: 100%;
        overflow: hidden;
        background-color: #0c344c;
      }
      
      #slider #line {
        height: 5px;
        background: #35B5FE;
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      
      #slider #dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 16px;
        display: flex;
        justify-content: center;
      }
      
      #slider #dots li {
        transition: 0.3s;
        list-style-type: none;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background: rgba(0,0,0,0.5);
        margin: 0 0.25em;
        cursor: pointer;
      }
      
      #slider #dots li:hover,
      #slider #dots li.active {
        background: #35B5FE;
      }
      
      @keyframes line {
      
        0% {width: 0%;}
        100% {width: 100%;}
      
      }
      
      #slider #back,
      #slider #forword {
        width: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.3s;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        color: white;
        font-weight: 700;
          font-size: 2rem;
        background: -moz-linear-gradient(left,  rgba(255,255,255,0.75) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#00ffffff',GradientType=1 );
      }
      
      #slider #forword {
        left: auto;
        right: 0;
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 100%);
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%);
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bfffffff',GradientType=1 );
      }
      
      #slider:hover #back,
      #slider:hover #forword {
        opacity: 0.7;
      }
      
      ul#move {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        background: gray;
        margin-right: 100%;
      }
      
      
      ul#move li {
        transition: 0.6s;
        min-width: 100%;
        color: white;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      ul#move li img {
        width: 100%;
        height: 100%;
      }
      
      ul#move li:nth-child(1) {
        /* background: #657765; */
      }
      
      ul#move li:nth-child(2) {
        /* background: #456174; */
      }
      
      ul#move li:nth-child(3) {
        /* background: #984; */
      }
      
      ul#move li:nth-child(4) {
        /* background: #445566; */
      }
      
      ul#move li:nth-child(5) {
        /* background: #744674; */
      }

}
